.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #ffffff;
    padding: 0 5px;
    cursor: pointer; /*coloca a mãozinha indicando que vai ser algo clicavel */
    border-radius: 30px 0px 30px 0px;
    min-height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 0.15s ease-in-out;
    
}

.listagem .pokemon:hover {
    transform: scale(1.05);
    background-color: #2E8B57;
}
.listagem .pokemon img {
    width: 26%;
    border-radius: 50%;

}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativado{
    background-color: rgba(243, 13, 13, 0.685);
}
